// variables

@white: #fff;
@light: #F8F9FA;
@primary: #2699FB;
@page-width: 75%;

// mixins

.is-rounded {
    border-radius: 5px;
}

.has-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

// resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// fonts

@font-face {
    font-family: CircularStd;
    src: url('font/CircularStd-Book.otf');
}

@font-face {
    font-family: CircularStd;
    src: url('font/CircularStd-Bold.otf');
    font-weight: bold;
}

// global styles

body {
    font-family: 'CircularStd', 'Open Sans', sans-serif;
    background: @light;
}

// layout styles

.container {
    margin: 2.5% auto;
    width: 90%;
    height: 90vh;
}

.navigation,
.page {
    float: left;
    vertical-align: top;
    height: 100%;
}

.navigation {
    width: calc(100% - @page-width);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    ul {
        list-style: none;

        li {
            &:not(:last-child) {
                margin-bottom: 10%;
            }

            &.profile {
                margin-bottom: 15%;

                img {
                    width: 25%;
                    height: 25%;
                    border-radius: 50%;
                }
            }
        }
    }

    @media only screen 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        width: 0%;
    }
}

.page {
    .is-rounded;
    .has-shadow;

    background: @white;
    width: @page-width;
    padding: 2.5% 5%;

    @media only screen 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        width: 100%;
    }
}

// other styles

.title {
    margin-bottom: 20px;
}

.daily-log {
    list-style: none;
    
    .task {
        margin-bottom: 20px;
    }
}